/*
 * CobbleStone - CSS
 * By: Arpit Sheth
 * Web: http://shethworks.com/
 *
 * Special Notes:
 * Fluid grid modified from the Responsive Grid System by Graham Miller <http://www.responsivegridsystem.com/>
 * Basic styles initially based off of Skeleton Boilerplate <http://www.getskeleton.com/>
*/

/* ============================================================
    .::[ TABLE OF CONTENTS ]::.
============================================================= */
   
    /*
     * CSS RESET
     * COBBLESTONE GRID SYSTEM
     * COBBLESTONE BASE STYLES
     * SITE STYLES
    */

/* ============================================================
    .::[ CSS RESET ]::.
============================================================= */

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed, 
    figure, figcaption, footer, header, hgroup, 
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }

    /* HTML5 display-role reset for older browsers */
    article, aside, details, figcaption, figure, 
    footer, header, hgroup, main, menu, nav, section {
        display: block;
    }
    body { line-height: 1; }
    a { text-decoration: none; }
        a:active, a:focus { outline: none !important; }
    ol ul { list-style: none; }

    blockquote, q { quotes: none; }
    blockquote:before, blockquote:after,
    q:before, q:after { content: ''; content: none; }

    table { border-collapse: collapse; border-spacing: 0; }


/* More HTML Settings
================================================== */
    * {
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    ::selection {
        background: #d9d9d9;
        color: rgb(85, 75, 70);
        }
    ::-moz-selection {
        background: #d9d9d9;
        color: rgb(85, 75, 70);
    }
    
    
/* ============================================================
    .::[ COBBLESTONE GRID SYSTEM ]::.
============================================================= */

    /* Solves floating problems by applying the clearfix hack automatically. */
    .group { overflow: hidden; clear: both; padding: 0px; margin: 0px; }
    .group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }
    
    /* Divides the section into fluid-width columns.
     * Each column has a left margin of 3.5%, except the first one.
    */
    *[class*='col-'] { display: block; float:left; margin: 0 0 0 3.5%; }
    *[class*='col-']:first-child { margin-left: 0; } /* all browsers except IE6 and lower */
    
    .col-12 { width: 100%; }
    .col-11 { width: 91.375%; }
    .col-10 { width: 82.75%; }
    .col-9 { width: 74.125%; }
    .col-8 { width: 65.5%; }
    .col-7 { width: 56.875%; }
    .col-6 { width: 48.25%; }
    .col-5 { width: 39.625%; }
    .col-4 { width: 31%; }
    .col-3 { width: 22.375%; }
    .col-2 { width: 13.75%; }
    .col-1 { width: 5.125%; }
    
    /* An additional clearfix hack is provided to resolve rare cases of floating problems.
     * Simply apply the .clearfix class to an element if the default clearfix method does not work.    
    */
    .clearfix:before,
    .clearfix:after {
        content: " ";
        display: table;
    } 
    .clearfix:after {
        clear: both;
    }    
    
    /*  GO FULL WIDTH AT LESS THAN 650 PIXELS */
    @media only screen and (max-width: 650px) {
        *[class*='col-'] {
            width: 100%;
            margin-left: 0;
        }
    }
    

/* CobbleStone Gallery Grid
================================================== */
    /* The CobbleStone Gallery Grid offers a semantic and efficient extention to
     * the CobbleStone Grid System for creating photo galleries.
     * The CobbleStone Gallery Grid allows you to create a list of gallery items
     * without having to worry about the column-span limits for a group.
     * 
     * By default, each gallery item occupies one-third of the parent wrapper,
     * which is equivalent to col-4 on the CobbleStone Grid System.
    */
    
    /* Wrapper for the Gallery */
    .gallery {
        width: 103.5%;
        overflow: hidden;
        margin: auto 0 !important;
    }
    
    /* Wrapper for the Gallery Item */
    .gallery li {
        width: 29.83333333333333%;
        margin: 1.75% 3.5% 1.75% 0;
        display: block;
        float: left;
        overflow: hidden;
        position: relative;
    }
    
    .gallery img {
        width: 100%;
        display: block;
    }
    
    .gallery a {
        background: rgba(0,0,0,.9);
        font-weight: bold;
        line-height: 115%;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
    
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    .gallery li:hover a {
        opacity: 1;
        visibility: visible;
    }
    
    .gallery a strong {
        color: rgba(255,255,255,1);
        position: absolute;
        top: -50%;
        padding: 30px 20px 10px 20px;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -ms-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    .gallery li:hover a strong {
        top: 0px;
    }
    
    .gallery a:after {
        content: 'View';
        font-size: .75em;
        font-weight: normal;
        font-style: italic;
        color: #efefef;
        background: #444444;
        padding: .35em 2em;
        position: absolute;
        bottom: 20px;
        left: 20px;
        
    }
    
    .gallery .caption {
        font-size: .85em;
        margin: .5em 0;
        text-align: center;
    }
    
    /* For regular text use .no-style
     * For wrapping a link around the image use .no-overlay
    */
    .gallery a.no-style,
    .gallery a.no-overlay {
        background: none;
        width: auto;
        heigh: auto;
        opacity: 1;
        visibility: visible;
        display: inline-block;
        position: static;
    }
    .gallery a.no-overlay { border: none !important; }
    .gallery a.no-btn,
    .gallery a.no-style:after,
    .gallery a.no-overlay:after { display: none; }


    @media only screen and (max-width: 1150px) {
        .gallery a strong {
            font-size: .85em;
        }
    }
    
    @media only screen and (max-width: 850px) {
        .gallery a strong {
            font-size: 1em;
        }
        .gallery li {
            width: 46.5%;
        }
        
        /* use .odd class to balance last photo */
        .gallery.odd li:last-child {
            width: 96.5%;
        }
        .gallery.odd li:last-child img {
            width: 48.25%;
            margin-left: auto;
            margin-right: auto;
        }
    }
    
    @media only screen and (max-width: 500px) {
        .gallery {
            width: 100%;
        }
        .gallery li {
            width: 100%;
        }
        
        .gallery.odd li:last-child {
            width: 100%;
        }
        .gallery.odd li:last-child img {
            width: 100%;
        }
        
        .gallery .caption { font-size: 1em; }
    }
    
    
/* ============================================================
    .::[ BASE STYLES ]::.
============================================================= */

/* Layout
================================================== */
    body { }
    /* .wrapper-1000 and .wrapper-750 must be nested within .wrapper to function properly */
    .wrapper,
    .wrapper-1000,
    .wrapper-750 {
        margin: 0 auto;
        padding: 0;
    }
    .wrapper { width: 66.666666666666666666666666666667%; }
    .wrapper-1000 { max-width: 1000px; }
    .wrapper-750 { max-width: 750px; }
    
    /* Use wrapper-youtube around Youtube iframe embeds */
    .wrapper-youtube {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        height: 0;
    }
    .wrapper-youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }

    @media only screen and (max-width: 1050px) {
        .wrapper {
            width: 75%;
        }
    }
    
    @media only screen and (max-width: 850px) {
        .wrapper {
            width: 85%;
        }
    }


/* Typography
================================================== */
    body {
            background: #fff;
            font: 1.25em/1.25 "Segoe UI", "Helvetica", "Arial", sans-serif;
            color: #444;
            -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
            -webkit-text-size-adjust: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
            color: #181818;
            font-family: "Segoe UI", "Helvetica", "Arial", serif;
            font-weight: bold; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
    h1 { font-size: 3em; margin-bottom: 14px;}
    h2 { font-size: 2.5em; margin-bottom: 10px; }
    h3 { font-size: 1.75em; margin-bottom: 8px; }
    h4 { font-size: 1.50em; margin-bottom: 4px; }
    h5 { font-size: 1.35em; }
    h6 { font-size: 1.25em; }
    .subheader { color: #777; }

    p { margin: 0 0 20px 0; }
    p img { margin: 0; }
    p.lead { font-size: 21px; line-height: 27px; color: #777;  }

    em, i { font-style: italic; }
    strong, b { font-weight: bold; }
    small { font-size: 80%; }

    /*	Blockquotes  */
    blockquote, blockquote p { font-size: 17px; line-height: 24px; color: #777; font-style: italic; }
    blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid #ddd; }
    blockquote cite { display: block; font-size: 12px; color: #555; }
    blockquote cite:before { content: "\2014 \0020"; }
    blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: #555; }

    hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }
   

/* Lists
================================================== */
    ul { list-style: none outside; }
    ol { list-style: decimal; }
    ul.square { list-style: square outside; }
    ul.circle { list-style: circle outside; }
    ul.disc { list-style: disc outside; }
    ul ul, ul ol,
    ul ul li, ul ol li,

/* Images
================================================== */

    img {
        max-width: 100%;
        margin-bottom: 0;
    }
    
    img.img-big {
        width: 100%;
        margin-bottom: 0;
        display: block;
    }

/* Links
================================================== */
    a {
        color: rgb(145, 40, 20);
        text-decoration: none;
        font-style: normal;
        outline: 0;
        }
    a:hover { color: rgb(165, 50, 25); }
    #main-content a {
        line-height: 1.15;
        border-bottom: 3px solid rgb(145, 40, 20);
        margin-bottom: -3px;
        display: inline-block;
    }
    main-content a:hover { border-bottom: 3px solid rgb(165, 50, 25); }
    
/* Buttons
================================================== */
    .btn,
    button,
    input[type="submit"],
    input[type="reset"],
    input[type="button"] {
        color: rgb(145, 40, 20);
        background: #D3D3D3;
        border: none;
        border-bottom: 3px solid #7a7a7a !important;
        padding: .35em 1em;
        margin-bottom: -3px;
        
        font-family: inherit;
        font-size: .75em;
        font-weight: bold;
        text-decoration: none;
        line-height: normal;
        
        cursor: pointer;
        display: inline-block;
        
        text-shadow: 0px 1px 0px #efefef;
        filter: dropshadow(color=#efefef, offx=0, offy=1);
        -webkit-border-radius: 5px;
        border-radius: 5px; 
    }

    .btn:hover,
    button:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    input[type="button"]:hover {
        color: rgb(165, 50, 25);
        background: #E2E2E2;
        border-bottom: 3px solid rgb(165, 50, 25) !important;
    }

    .btn:active,
    button:active,
    input[type="submit"]:active,
    input[type="reset"]:active,
    input[type="button"]:active {
        color: #333333;
        background: #D3D3D3;
        border-bottom: none !important;
        border-top: 3px solid #7a7a7a !important;
        text-shadow: none;
        margin-top: -3px;
    }

    .btn.btn-big,
    button.btn-big,
    input[type="submit"].full-width,
    input[type="reset"].full-width,
    input[type="button"].full-width {
        font-size: 1em;
        width: 100%;
        text-align: center;
        padding: 1em 1em;
        margin-bottom: .5em !important;
        display: block;

    }

    /* Fix for odd Mozilla border & padding issues */
    button::-moz-focus-inner,
    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }


/* Forms
================================================== */
    form {
            margin-bottom: 20px; }
    fieldset {
            margin-bottom: 20px; }
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea,
    select {
            border: 1px solid #ccc;
            padding: 6px 4px;
            outline: none;
            -moz-border-radius: 2px;
            -webkit-border-radius: 2px;
            border-radius: 2px;
            color: #777;
            margin: 0;
            width: 210px;
            max-width: 100%;
            display: block;
            margin-bottom: 20px;
            background: #fff; }
    select {
            padding: 0; }
    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    textarea:focus {
            border: 1px solid #aaa;
            color: #444;
            -moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
            -webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
            box-shadow:  0 0 3px rgba(0,0,0,.2); }
    textarea {
            min-height: 60px; }
    label,
    legend {
            display: block;
            font-weight: bold;
            font-size: 13px;  }
    select {
            width: 220px; }
    input[type="checkbox"] {
            display: inline; }
    label span,
    legend span {
            font-weight: normal;
            font-size: 13px;
            color: #444; }


/* ============================================================
    .::[ SITE STYLES ]::.
============================================================= */

/* Styles specific to your website.
 * Modify the styles below, delete them, or create your own!
 * Happy Designing!
*/

body { background: rgb(225, 223, 221); }
hr { border-top: 1px solid rgb(145, 40, 20); margin-bottom: 2em; }
h1, h2, h3, h4, h5, h6 { font-family: "Garamond"; color: rgb(60, 55, 50); }

h1 {
    background: url(cobblestone-logo.png) 50% 0 / 100px no-repeat;
    text-align: center;
    margin: 1em auto;
    padding-top: 100px;
    color: rgb(145, 40, 20);
}

code { font-family: "Courier New", monospace; }

header strong {
    font-family: "Garamond";
    text-align: center;
    display: block;
    margin-bottom: 3em;
}

.show-grid { margin: 3.5% auto; }

.show-grid [class*="col-"], .grid-block {
    background: rgba(0,0,0,.15);
    border: 2px solid rgba(0,0,0,0);
    padding: 0.5em;
    font-size: .75em;
    text-align: center;
}
.show-grid > [class*="col-"]:hover, .grid-block:hover {
    border: 2px solid rgb(145, 40, 20);
}

.grid-block { text-align: left; }

.null-img {
    background: rgb(85, 75, 70);
    height: 0px;
    padding-bottom: 56.25%;
}

.gallery a:after { background: rgb(145, 40, 20);  }

footer {
    background: url(cobblestone-logo.png) 50% 0 / 50px no-repeat;
    text-align: center;
    margin: 2em auto;
    padding-top: 75px;
}